<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Harry Books</title>
<script type="text/javascript" src="/js/jquery/jquery.3.4.1.min.js"></script>
<script type="text/javascript" src="/js/books.js"></script>
<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<div class="main-container">
		<h2>Harry Books - Tienda Online</h2>
		<hr>
		<div >
			<div class="main-header">
				<span>Libros Disponibles</span>
				<button th:if="${!bookList.isEmpty()}" type="button" id="gotoShoppingCar" name="gotoShoppingCar">Ir
					al carrito de compras</button>
			</div>
			<div th:if="${bookList.isEmpty()}" class="books-notfound">
				<h2>Aún no hay libros registrados, por favor ejecute el script
					de addBooks.sql</h2>
			</div>
			<div th:if="${!bookList.isEmpty()}" class="container-books">
				<div th:each="book : ${bookList}" class="books-item">
					<div class="item-image">Image</div>
					<div class="item-detail">
						<div class="detail-title">
							<span th:text="${book.title}"></span>
						</div>
						<div>
							<span>Cantidad disponible:  </span>
							<span th:if="${book.available > 0}" th:text="${book.available}"></span>
							<span th:if="${book.available <= 0}">Agotado</span>
						</div>
						<div>
							<span>Precio:  $</span><span th:text="${book.price}"></span>
						</div>
						<div th:id="${book.id}" th:if="${book.available > 0}">
							<span>Agregar al carrito</span>
							<input id="amount" name="amount" type="number" min="1" th:max="${book.available}" step="1" value ="1" size="5"/>
							<button type="button" name="addToShoppingCar" >Agregar</button>
						</div>
						<div class="added" th:id="${book.id}" th:if="${book.available > 0}">
							<span>Agregados: </span><span>0</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>